html {
  min-height: 100%;
}

body {
  background: linear-gradient(to bottom right, royalblue, #04a6eb, rgba(65, 201, 225, 0.904), #fdffff);
  color: #fdffff;
  font-family: "Montserrat","游ゴシック",YuGothic,"ヒラギノ角ゴ ProN W3","Hiragino Kaku Gothic ProN","メイリオ",Meiryo,sans-serif;
  text-align: center;
}

.first {
  font-size: 80px;
  font-family: "Montserrat","游ゴシック",YuGothic,"ヒラギノ角ゴ ProN W3","Hiragino Kaku Gothic ProN","メイリオ",Meiryo,sans-serif;
}

.judgment {
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%,-50%);
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  margin:0;
  padding:0;
}

.score {
  margin-left: 60%;
}
