html {
  min-height: 100%;
}

body {
  background: linear-gradient(to bottom right, royalblue, #04a6eb, rgba(65, 201, 225, 0.904), #fdffff);
  color: #fdffff;
  font-family: "Montserrat","游ゴシック",YuGothic,"ヒラギノ角ゴ ProN W3","Hiragino Kaku Gothic ProN","メイリオ",Meiryo,sans-serif;
  text-align: center;
  background-image: url(./img/summer.png);
  background-size: cover;
}

.text {
  font-size: 80px;
}

.input {
  font-size: 30px;
  vertical-align: middle;
}

.button {
  font-size: 24px;
  vertical-align: middle;
}

.judgment {
  position: absolute;
  left: 50%;
  transform: translate(-50%,-50%);
}

